<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>IBM Meetupalyzer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
  </head>

  <body>
      <div class="container">
          <div class="row">
            <h1>IBM Meetupalyzer</h1> 
          </div>
          <div class="row">
            <h5>Insights about IBM-related Meetup.com groups.</h5>
          </div>

        <div class="divider"></div>
        <div class="row section">
            <div class="col s12 m3">
                <div class="row">
                    <h5>Choose the information to pull from Meetup.com.</h5>
                </div>
            </div>
            <div class="col s12 m9 input-field">
                <div class="row">
                    <label for="textarea1">Enter a Meetups topic to add to the database</label>
                    <input id="textarea1" type="text"></input>
                </div>
                <div class="row">
                    <div class="col s12 m3">
                        <a id="submitButton" class="waves-effect waves-light btn center-align"><i class="material-icons left">add</i>Add</a>
                    </div>
                    <div class="col s12 m9">
                        <p>The Meetupalyzer will collect data on all groups and events related to this topic.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
        <h5>Observe data relationships.</h5>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <select id="topicSelect">
                            <option value="" disabled selected>Choose</option>
                            <option value="BlueMix">Bluemix</option>
                        </select>
                        <label>Select a Topic</label>
                    </div>
                </div>
            </form>
        </div>
        <!--<div class="row">
            <table class="col s12">
                <thead>
                      <tr>
                          <th>Name</th>
                          <th>Country</th>
                          <th>State</th>
                          <th># Members</th>
                          <th>RSVPs for next event</th>          
                      </tr>
                </thead>
                <tbody id="resultsTable">      
                </tbody>
            </table>
        </div> -->
        <div id="graphDiv" class="row">
        </div>
    </div>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  
    
            <!-- Attempt at throwing in D3 -->
            <style> /* set the CSS */

            body { font: 12px Arial;}

            path { 
                stroke: steelblue;
                stroke-width: 2;
                fill: none;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: grey;
                stroke-width: 1;
                shape-rendering: crispEdges;
            }

            </style>

            <!-- load the d3.js library -->    
            <script src="http://d3js.org/d3.v3.min.js"></script>

            
      
            <!-- end attempt --> 
    <script type="text/javascript" src="js/main.js"></script>
    
 </body>


  
</html>
