<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>MeetBlue - IBM-Related Meetup.com Analytics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main>
        <div class="container">
            <div id="searchContainer">
                <div class="row valign-wrapper" style="height:200px;margin-top:120px">
                    <div class="valign" style="width: 100%">
                        <h1 class="center-align"><i class="material-icons medium">perm_contact_calendar</i><b>Meet<span style="color: #42A5F5">Blue</span></b></h1>
                        <h6 class="center-align">Gain insights by visualizing data about IBM-related Meetup.com groups and events.</h6>
                    </div>
                </div>
                <div class="row section">
                    <div class="col s12">
                        <div id="suggested_topics">
                            <p>Select Meetup.com topic(s) to display data on:</span>
                                <div id="IBM" class="chip suggested_topic_option selected">IBM</div>
                                <div class="chip suggested_topic_option selected">IBM Bluemix</div>
                                <div class="chip suggested_topic_option selected">Bluemix</div>
                                <div class="chip suggested_topic_option">Cloud Foundry</div>
                                <div class="chip suggested_topic_option">PaaS: Platform as a Service</div>
                                <div class="chip suggested_topic_option">Cloud Computing</div>
                                <div class="chip suggested_topic_option">Software Development</div>
                                <div class="chip suggested_topic_option">Big Data</div>
                        </div>
                    </div>

                    <div class="input-field">
                        <div class="col s12 m8">
                            <p>Optional: Add any additional Meetup topics you wish to gather data on, seperated by commas*:</p>
                            <p style="font-size: 10px; margin-top: 3px;">*Searching for custom topics may take longer and deliver slightly limited results</p>
                        </div>
                        <div class="col s12 m4">

                            <input placeholder="Cooking, Reptiles, Parkour, ..." id="topics-input" type="text" value="">


                        </div>
                    </div>

                    <div class="col s12 valign-wrapper">
                        <div class="col s12 valign center-align">
                            <a id="submitButton" class="waves-effect waves-light btn blue lighten-1">Get Data</a>
                        </div>
                    </div>

                </div>
                <div class="divider"></div>

                <div id="data-loading" class="row" style="display: none; margin-top: 40px">
                    <div class="progress">
                        <div class="indeterminate"></div>

                    </div>
                    <p>Plase wait... Collecting all of this information from Meetup.com can take 20 seconds or more!</p>
                </div>


                <div id="summaryAndDataDisplayContainer" style="display: none;">
                    <div id="summary" class="row section" style="display: none;">

                    </div>
                    <div class="fixed-action-btn hide-on-med-and-down" style="bottom: 45px; right: 24px;">
                        <a id="newSearchButton" class="btn secondary-content waves-effect" style="color: #212121; background-color: #fff;">
                        New Search
                    </a>
                    </div>

                    <div id="dataDisplayContainer" style="display: none;">
                        <div class="divider"></div>
                        <h4>Where are these groups located?</h4>
                        <div id="groupLocationMap" style="width: 100%; height: 700px; max-height: 70vw;" class="row section">
                        </div>

                        <div class="divider"></div>

                        <div id="topAverageAttendanceDiv" class="row section">
                            <h4>Which of them are attended the most?</h4>
                            <p class="title">Top 10 Most Attended Meetups</p>
                            <table id="topAverageAttendanceTable" class="striped tablesorter">
                                <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Average "Yes" RSVPs (Last 6 Months)</th>
                                        <th>Number Of Members</th>
                                        <th>Participation Rate</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>


                        <div class="divider"></div>
                        <div class="row section">
                            <h4>When is the most popular time to schedule an event?</h4>
                            <div id="mostCommonDayChart" style="width: 100%; height:400px;" class="row section chart">
                            </div>
                            <div id="mostCommonTimeChart" style="width: 100%; height:400px;" class="row section chart">
                            </div>
                        </div>

                        <div class="divider"></div>
                        <h4>How does attendance at each time compare to the group's average?</h4>
                        <div id="relativeAttendanceDayChart" style="width: 100%; height:400px;" class="row section chart"></div>
                        <div id="relativeAttendanceTimeChart" style="width: 100%; height:400px;" class="row section chart">
                        </div>


                        <div class="divider"></div>
                        <h4>How does the number of events held per month affect participation?</h4>
                        <div id="eventsPerMonthParticipation" class="row">
                            <div class="input-field col s6">
                                <select class="topicFilterSelect dynamicPop">
                                </select>
                                <label>Topic</label>
                            </div>
                            <div class="input-field col s6">
                                <select class="countryFilterSelect dynamicPop">
                                </select>
                                <label>Country</label>
                            </div>
                            <div id="eventsPerMonthParticipationGraph" style="width: 100%; height:400px;" class="row section chart">
                            </div>
                        </div>

                        <div class="divider"></div>
                        <h4>Does the amount of "heads up time" given about an event affect its attendance?</h4>
                        <div id="headsUpTimeChart" style="width: 100%; height:400px;" class="row section chart">
                        </div>

                        <div class="divider"></div>
                        <h4>When was each group created?</h4>
                        <div id="membersByCreationDate" class="row">
                            <div class="input-field col s6">
                                <select class="topicFilterSelect dynamicPop">
                                </select>
                                <label>Topic</label>
                            </div>

                            <div class="input-field col s6">
                                <select class="countryFilterSelect dynamicPop">
                                </select>
                                <label>Country</label>
                            </div>

                            <div id="membersByCreationDateChart" style="width: 100%; height:400px;" class="col s12 section chart">
                            </div>
                        </div>

                    </div>
                </div>
    </main>

    <footer class="page-footer" style="padding-top:0px">
        <div class="footer-copyright">
            <div class="container">
                <span class="right">Created by Sam Ennis</span>
            </div>
        </div>
    </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="//code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <script src="lib/tablesorter/jquery.tablesorter.min.js"></script>
    <script src="js/main.js"></script>

</body>



</html>