<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>IBM Meetupalyzer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>IBM Meetupalyzer</h1>
        </div>
        <div class="row">
            <h5>Gain insight by visualizing data about IBM-related Meetup.com groups.</h5>
        </div>
        <div class>
            <p>Currently displaying data on Meetup.com groups with the following topics: <i>"Bluemix", "IBM Bluemix", "IBM", "Cloud Foundry"</i></p>
        </div>

        <div class="divider"></div>

        <div id="summary" class="row section" style="display: none;">

        </div>
        <div class="divider"></div>

        <div id="groupLocationMap" style="width: 100%; max-height:700px;" class="row section">
        </div>

        <div class="divider"></div>

        <div id="topAverageAttendanceDiv" class="row section">
            <p class="title">Highest Attended Meetups</p>
            <table id="topAverageAttendanceTable" class="striped">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Average Attendance (Last 6 Months)</th>
                        <th>Number Of Members</th>
                        <th>Participation Rate</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="divider"></div>
        
        <!-- TODO: dynamically populate input fields -->
        <div id="eventsPerMonthParticipation" class="row">
            <div class="input-field col s6">
                <select class="topicFilterSelect">
                    <option value="0" selected>All topics</option>
                    <option value="71289">IBM</option>
                    <option value="1488192">IBM Bluemix</option>
                    <option value="1481632">Bluemix</option>
                </select>
                <label>Topic</label>
            </div>
            <div class="input-field col s6">
                <select class="countryFilterSelect">
                    <option value="0" selected>All Countries</option>
                    <option value="USA">USA</option>
                    <option value="Canada">Canada</option>
                    <option value="United Kingdom">UK</option>
                </select>
                <label>Country</label>
            </div>
            <div id="eventsPerMonthParticipationGraph" style="width: 100%; height:400px;" class="row section chart">
            </div>
        </div>

        <div class="divider"></div>

        <!-- TODO: dynamically populate input fields -->
        <div id="membersByCreationDate" class="row">
            <div class="input-field col s6">
                <select class="topicFilterSelect">
                    <option value="0" selected>All topics</option>
                    <option value="71289">IBM</option>
                    <option value="1488192">IBM Bluemix</option>
                    <option value="1481632">Bluemix</option>
                </select>
                <label>Topic</label>
            </div>

            <div class="input-field col s6">
                <select class="countryFilterSelect">
                    <option value="0" selected>All Countries</option>
                    <option value="USA">USA</option>
                    <option value="Canada">Canada</option>
                    <option value="United Kingdom">UK</option>
                </select>
                <label>Country</label>
            </div>

            <div id="membersByCreationDateChart" style="width: 100%; height:400px;" class="col s12 section chart">
            </div>
        </div>

        <div class="divider"></div>
        <div class="row section">
            <div class="col s12 m3">
                <div class="row">
                    <h5>Pull the latest info from Meetup.com.</h5>
                </div>
            </div>
            <div class="col s12 m9 input-field">
                <div class="row">
                    <div class="col s12">
                        <a id="submitButton" class="waves-effect waves-light btn center-align"><i class="material-icons left">loop</i>Update Data</a>
                    </div>
                    <div class="col s12">
                        <p>The Meetupalyzer collects data on all groups and events related to the "Bluemix" topic.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="//code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>



</html>