/* style.css
 * This file provides css styles.
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title {
    color: #333333;
    font-size: 18px;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

th.header.headerSortUp:before {
    font-family: FontAwesome;
    content: "\f0dd";
    //background-color: #3399FF;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

th.header.headerSortDown:before {
    font-family: FontAwesome;
    content: "\f0de";
    //background-color: #3399FF; 
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

th.header:before {
    font-family: FontAwesome;
    content: "\f0dc";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

.divider {
    margin-top: 50px;
    margin-bottom: 30px;
}